{% extends "template.back.twig" %}

{% block title %}{{ parent() }} | Mes taches {% endblock %}

{% block content %}
  {% set nbTasks = tasks|length %}
    <h1>Liste des taches</h1>
    {% if nbTasks > 0%}
      <div>
      {% for item in tasks %}
        <div>
          <h2>{{item.getTaskTitle}} <span>- à faire le {{item.getTaskDueDate}}</span></h2>
          <div>{{item.getTaskDesc}}</div>
          <div>status: {{item.getStatusName}}</div>
          <div><a href="./?pg=update&id={{item.getId}}">Modifier</a> | <a href="./?pg=delete&id={{item.getId}}">Supprimer</a></div>
        </div>
      {% endfor %}
      </div> 
    {% else %}
      <div>Aucune tache pour le moment</div>
    {% endif %}

{% endblock %}